.main {
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 103.90000000000008px;
    letter-spacing: normal;
  }