.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f6f3e7;
  width: 821px;
  height: 883px;
}
.p,
.p1,
.p2,
.p3,
.ultimate {
  margin-block-start: 0;
  margin-block-end: 20px;
}
.p4 {
  margin: 0;
}
.ultimateContainer {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: inherit;
  line-height: 24.03px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.thoughtBubble {
  position: absolute;
  top: 27px;
  left: 143px;
  border-radius: 50%;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.25);
  border: 0 solid #e2e2e2;
  box-sizing: border-box;
  width: 59px;
  height: 59px;
  z-index: 2;
}
.ultimateParent {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 788px;
  height: 888px;
}
.image13Icon,
.rectangleParent {
  height: 896px;
  flex: 1;
  position: relative;
  min-width: 534px;
  max-width: 100%;
}
.image13Icon {
  height: 883px;
  overflow: hidden;
  object-fit: cover;
  min-width: 530px;
}
.div,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-10xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--h41-size);
  color: var(--color-gray-100);
  font-family: var(--body-text);
}
.div {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: column;
  padding: 0 var(--padding-11xl) var(--padding-2xs) var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  letter-spacing: normal;
}
@media screen and (max-width: 625px) {
  .image13Icon,
  .rectangleParent {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .ultimateContainer {
    font-size: var(--font-size-lgi);
    line-height: 19px;
  }
}
