.inputClusterChild,
.inputClusterInner,
.inputClusterItem,
.thresholdSetter {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid var(--purple);
  box-sizing: border-box;
  width: 1px;
  height: 71.1px;
}
.inputClusterInner,
.inputClusterItem,
.thresholdSetter {
  top: 94.2px;
  opacity: 0.3;
}
.inputClusterInner,
.thresholdSetter {
  top: 188.3px;
}
.thresholdSetter {
  top: 282.4px;
}
.inputCluster {
  width: 1px;
  height: 352.5px;
  position: relative;
}
.logicBranch {
  height: 452.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.authorOfAugust1 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  font-family: var(--body-text);
  color: var(--violet);
  text-align: left;
  display: inline-block;
  min-width: 112px;
}
.authorOfAugust,
.authorOfAugustWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.authorOfAugust {
  cursor: pointer;
  border: 1px solid var(--violet);
  padding: var(--padding-3xs) var(--padding-5xs) var(--padding-3xs)
    var(--padding-3xs);
  background-color: transparent;
  border-radius: var(--br-10xs);
}
.authorOfAugust:hover {
  background-color: var(--color-darkslateblue-300);
  border: 1px solid var(--color-darkslateblue-200);
  box-sizing: border-box;
}
.authorOfAugustWrapper {
  padding: 0 0 7.299999999999955px;
}
.h1 {
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 60px;
  font-weight: 700;
  font-family: inherit;
}
.blankLine,
.h1,
.p,
.p1,
.p2,
.p3 {
  margin: 0;
}
.div,
.parent {
  max-width: 100%;
}
.div {
  width: 477.7px;
  position: relative;
  font-size: var(--body-text-size);
  line-height: 24.03px;
  color: var(--body-text);
  display: inline-block;
}
.parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl-5);
}
.requestACall {
  position: relative;
  font-size: var(--body-text-size);
  line-height: 24.03px;
  font-weight: 500;
  font-family: var(--body-text);
  color: var(--white);
  text-align: left;
  white-space: nowrap;
}
.dataAggregatorInner,
.frameParent,
.ghoustButton {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ghoustButton {
  cursor: pointer;
  border: 0;
  padding: 12.100000000000136px var(--padding-13xl) 11.899999999999864px
    32.10000000000002px;
  background-color: var(--purple);
  border-radius: var(--br-11xs);
  flex-direction: row;
  white-space: nowrap;
}
.ghoustButton:hover {
  background-color: var(--color-darkslateblue-100);
}
.dataAggregatorInner,
.frameParent {
  flex-direction: column;
  max-width: 100%;
}
.frameParent {
  width: 512.9px;
  gap: 23.799999999999955px;
}
.dataAggregatorInner {
  flex: 1;
  min-width: 396px;
  min-height: 451px;
}
.imageIcon {
  width: 112.1px;
  height: 32px;
  position: relative;
}
.imageWrapper {
  width: 339.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.image10Icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.image10Wrapper {
  height: 493px;
  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xl);
  box-sizing: border-box;
  max-width: 100%;
}
.dataAggregator,
.dataAggregatorWrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.dataAggregator {
  width: 1390.8px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 38.80000000000001px;
}
.dataAggregatorWrapper {
  width: 1639.2px;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--h1-size);
  color: var(--black);
  font-family: var(--body-text);
}
@media screen and (max-width: 1200px) {
  .dataAggregatorInner {
    min-height: auto;
  }
  .dataAggregator {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .h1 {
    font-size: var(--h2-size);
    line-height: 48px;
  }
  .dataAggregatorInner {
    min-width: 100%;
  }
  .dataAggregator {
    gap: 38.8px 19px;
  }
}
@media screen and (max-width: 450px) {
  .h1 {
    font-size: var(--font-size-10xl);
    line-height: 36px;
  }
}
