.navitationBar1Child {
  height: 72px;
  width: 1488px;
  position: relative;
  background-color: var(--white);
  display: none;
  max-width: 100%;
}
.ai {
  position: relative;
  line-height: 24.03px;
  display: inline-block;
  min-width: 68px;
  cursor: pointer;
  z-index: 1;
}
.outputCollector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.frameChild,
.weLoveBooks {
  position: relative;
  z-index: 1;
}
.frameChild {
  height: 31px;
  width: 1px;
  border-right: 1px solid var(--purple);
  box-sizing: border-box;
}
.weLoveBooks {
  flex: 1;
  white-space: pre-wrap;
}
.lineParent {
  height: 30px;
  width: 59.1px;
  flex-direction: row;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
  color: var(--color-cornflowerblue-200);
}
.frameItem,
.inputProcessor,
.inputProcessorWrapper,
.lineParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputProcessor {
  flex-direction: row;
  gap: var(--gap-6xl-1);
}
.frameItem,
.inputProcessorWrapper {
  flex-direction: column;
  padding: var(--padding-10xs) 21.90000000000009px 0 0;
  font-size: var(--body-text-size);
  color: var(--color-black);
}
.frameItem {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-whitesmoke-100);
  height: 36.1px;
  flex: 1;
  border-radius: var(--br-11xs);
  flex-direction: row;
  padding: var(--padding-4xs) 15.099999999999907px 8.100000000000023px;
  box-sizing: border-box;
  font-family: var(--body-text);
  font-size: var(--font-size-sm);
  color: var(--color-silver);
  min-width: 244px;
  max-width: 100%;
  z-index: 1;
}
.searchIcon {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frameParent,
.searchWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.searchWrapper {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.frameParent {
  width: 470.6px;
  flex-direction: row;
  padding: 0 31.09999999999991px 0 0;
  box-sizing: border-box;
  gap: var(--gap-24xl);
  max-width: 100%;
}
.privacyPolicy {
  position: relative;
  line-height: 19px;
  display: inline-block;
  min-width: 92px;
  z-index: 1;
}
.privacyPolicyWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.shippping,
.warranty {
  position: relative;
  line-height: 19px;
  display: inline-block;
  min-width: 60px;
  z-index: 1;
}
.shippping {
  min-width: 67px;
}
.shipppingWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl) 0 0;
}
.returns {
  position: relative;
  line-height: 19px;
  display: inline-block;
  min-width: 51px;
  z-index: 1;
}
.navitationBar1Inner,
.warrantyParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.warrantyParent {
  flex-direction: row;
  gap: 24.100000000000364px;
}
.navitationBar1Inner {
  flex-direction: column;
  padding: var(--padding-4xs) 29.40000000000009px 0 0;
}
.frameInner {
  width: 16px;
  height: 20px;
  position: relative;
  z-index: 3;
}
.frameWrapper {
  width: 18.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lineDiv {
  width: 1px;
  height: 21px;
  position: relative;
  border-right: 1px solid var(--purple);
  box-sizing: border-box;
  z-index: 3;
}
.lineWrapper {
  height: 20px;
  width: 11.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10.399999999999636px 0 0;
  box-sizing: border-box;
}
.connectionMakerChild {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 50%;
  background-color: var(--violet);
  width: 12px;
  height: 12px;
  z-index: 4;
}
.heartIcon {
  height: 24px;
  width: 24px;
  position: absolute;
  margin: 0 !important;
  bottom: -12px;
  left: -15.3px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.div {
  position: relative;
  line-height: 17px;
  font-weight: 500;
  display: inline-block;
  min-width: 8px;
  z-index: 5;
}
.heartParent {
  position: absolute;
  top: 0;
  left: 2.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.connectionMaker {
  align-self: stretch;
  height: 17px;
  position: relative;
}
.connectionMakerWrapper {
  width: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
}
.frameChild1 {
  height: 21px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--purple);
  box-sizing: border-box;
  z-index: 3;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.layoutGrid,
.navitationBar1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.layoutGrid {
  width: 125px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  font-size: var(--font-size-xs);
  color: var(--white);
}
.navitationBar1 {
  position: absolute;
  top: 0;
  left: 92px;
  background-color: var(--white);
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-8xl) 17.899999999999977px
    32.19999999999982px;
  gap: 72.09999999999991px;
  max-width: 100%;
  z-index: 1;
}
.frameChild2,
.userIcon {
  position: absolute;
  z-index: 3;
}
.frameChild2 {
  top: 72px;
  left: 0;
  border-top: 1px solid var(--purple);
  box-sizing: border-box;
  width: 1667px;
  height: 1px;
}
.userIcon {
  top: 24px;
  left: 1580px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.navitationBar1Parent {
  height: 73px;
  flex: 1;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--nav-bar-text);
  font-family: var(--body-text);
}
@media screen and (max-width: 1425px) {
  .navitationBar1 {
    flex-wrap: wrap;
  }
  .navitationBar1Parent {
    height: auto;
    min-height: 73;
  }
}
@media screen and (max-width: 825px) {
  .frameParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .warrantyParent {
    flex-wrap: wrap;
  }
}
