.h3 {
  position: relative;
  font-size: inherit;
  line-height: 32.04px;
  font-weight: 600;
  font-family: inherit;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.h3,
.p,
.p1 {
  margin: 0;
}
.div,
.div1 {
  position: relative;
  display: inline-block;
}
.div {
  height: 48px;
  font-size: var(--body-text-size);
  line-height: 24.03px;
  color: var(--body-text);
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
  margin-top: -0.81px;
}
.div1 {
  line-height: 26.04px;
  font-weight: 600;
  min-width: 84px;
  z-index: 2;
}
.antDesignheartOutlinedIcon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.group,
.parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.group {
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  debug_commit: f6aba90;
  margin-top: -0.81px;
  font-size: var(--h4-size);
}
.parent {
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--h41-size);
  color: var(--black);
  font-family: var(--body-text);
}
@media screen and (max-width: 450px) {
  .h3 {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .div1 {
    font-size: var(--body-text-size);
    line-height: 21px;
  }
}
